@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

html, body {
	height: 100%;
}

body {
	background-color: black;
	color: #777;
	font-family: 'Source Code Pro', monospace;
	font-size: 18pt;
	margin: 0;
	-webkit-flex-direction: column;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sidebar {
	position: absolute;
	bottom: 1em;
	left: 5em;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: bottom left;
	transform: rotate(-90deg);
	transform-origin: bottom left;
}

#sidebar > * {
	margin: 0;
}

#screen {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	position: relative;
	padding: 0.25em;
	border: 4px ridge #333;
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin-left: 75px;
	background-color: black;
}

#text p {
	margin-top: 0;
}

#commands {
	padding: 0.25em;
	width: 800px;
	border: 4px ridge #333;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: absolute;
	bottom: -4px;
	left: -4px;
	background-color: black;
}

.cmd {
	cursor: pointer;
	border-radius: 4px;
	padding: 0.5em;
}

.cmd:hover {
	background-color: #222;
}
